@model DigiKala.Core.ViewModels.StoreCategoryViewModel

@{
    Layout = null;
}

<h4 class="text-center">ثبت مدرک جدید</h4>
<hr />
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-offset-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <form asp-action="CreateStoreCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">انتخاب گروه</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" type="file" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>


</div>
