@model DigiKala.Core.ViewModels.AdminSliderViewModel

@{
    Layout = null;
}

<h4 class="text-center">اصلاح اسلاید @Model.Title</h4>
<hr />
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-offset-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <form asp-action="EditSlider" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="عنوان اسلاید" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NotShow" /> @Html.DisplayNameFor(model => model.NotShow)
                </label>
            </div>
            <div class="form-group">
                <input asp-for="OrderShow" class="form-control" placeholder="ترتیب نمایش" />
                <span asp-validation-for="OrderShow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Desc" class="form-control" placeholder="سایر توضیحات" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
                <br />
                <img src="~/images/sliders/@Model.ImgName" alt="تصویر پیدا نشد" width="200" height="120" class="img-responsive" style="margin: auto" />
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره تغییرات" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

