@model IEnumerable<DigiKala.DataAccessLayer.Entities.Field>

@{
    ViewData["Title"] = "مشخصه ها";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<div class="col-lg-offset-3 col-lg-8 col-md-offset-3 col-md-8 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 panel-back">

    <div class="margin-top-50">

        <h3 class="pull-right">
            <input type="text" id="myInput" onkeyup="myfunction()" placeholder="جستجو ..." />
        </h3>
        <h3 class="pull-left">
            <a href="#" onclick="MyCreate()" class="btn btn-primary">جدید</a>
        </h3>

    </div>

    <div class="margin-top-30">

        <table class="table table-bordered table-hover" id="myTable">

            <thead>

                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        عملیات
                    </th>

                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a href="#" onclick='MyEdit(@item.Id)' class="btn-xs btn-warning">اصلاح</a> |
                            <a href="#" onclick='MyDelete(@item.Id)' class="btn-xs btn-danger">حذف</a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="bodyModal" class="modal-body">



            </div>

        </div>

    </div>

</div>


@section mySection
{
    <script>
    function myfunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (var i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];

            if (td) {
                txtValue = td.textContent || td.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    </script>

    <script>
        function MyCreate() {
            $.ajax({
                url: "/Admin/CreateField/",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#bodyModal').html(result);
            });
        }
    </script>

    <script>
        function MyEdit(id) {
            $.ajax({
                url: "/Admin/EditFeild/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#bodyModal').html(result);
            });
        }
    </script>

    <script>
        function MyDelete(id) {
            $.ajax({
                url: "/Admin/DeleteField/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#bodyModal').html(result);
            });
        }
    </script>

}

