@{
	Layout = null;
}

<div class="container">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>عکس</th>
				<th>نام کالا</th>
				<th>تعداد</th>
				<th>قسمت هر واحد</th>
				<th>جمع</th>
			</tr>
		</thead>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>