@model IEnumerable<DigiKala.DataAccessLayer.Entities.Category>

@foreach (var item in Model)
{
	<div class="col-md-2">
		<a class="nav nav-link" style="font-size:30px;" href="/home/SearchByCategory/@item.Name">
			<h4 class="row mega-title">
				@item.Name
			</h4>
		</a>

		@(await Component.InvokeAsync("SubMenuComponent", item.Id))
	</div>
}
